<!DOCTYPE html>
<html>
   <head>
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
      <link href='https://fonts.googleapis.com/css?family=Open+Sans:700,600' rel='stylesheet' type='text/css'>
      <meta charset="utf-8">
      <title>IBT Web store</title>
   </head>
   <body>
      <%- include('_navbar.ejs') %>
      <% if(user.isAdmin){ %>
      Logged in as admin
      <% } %>
      <input id="username" type="hidden" value="<%= user.username %>"/>
      <div class="mx-auto" style="width: 1200px; padding-top: 10px;">
         <div class="d-flex1 justify-content-center">
            <div class="row row-cols-1 row-cols-md-2 g-4">
               <% for(let i = 0; i < items.length; i++) {%>
               <div class="card" style="max-width: 18rem;">
                  <img class="card-img-top" src="<%= items[i].src %>" alt="Card image cap">
                  <div class="card-body">
                     <h5 class="card-title"><%= items[i].name %></h5>
                     <p class="card-text"><%= items[i].description %></p>
                  </div>
                  <ul class="list-group list-group-flush">
                     <li class="list-group-item"><%= items[i].price %> лв.</li>
                     <li class="list-group-item">Orders: <%= items[i].orderCount %></li>
                  </ul>
                  <div class="card-body">
                     <a href="/order/<%= items[i].id %>" class="card-link">Order</a>
                     <a href="/item/<%= items[i].id %>" class="card-link">Reviews</a>
                  </div>
               </div>
               <% } %>
            </div>
         </div>
      </div>
   </body>
</html>